<div class="modal-header">
  <h5 class="modal-title">Edit Tweet <%= tweet.id %></h5>
  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
</div>
<div class="modal-body">
  <%- include('../_partials/form') %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
  <button id="tweet-form-submit" type="button" class="btn btn-success" data-url="/api/tweets/<%= tweet.id %>" data-method="PUT">Submit</button>
</div>
