<form novalidate>
  <div class="form-group">
    <label>Content</label>
    <input class="form-control" type="text" name="content" value="<%= tweet.content %>">
    <div class="invalid-feedback"></div>
  </div>
</form>
