<%- contentFor('meta') %>
<title>Home Page</title>

<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="container my-3">
  <h1 class="text-center mb-3">Home Page</h1>
</div>